body {
	font-family: arial;
	background: #A5A49F;
	margin: auto;
	text-align: center;
	padding-bottom: 100px;
	padding-top: 20px;
	width: 900px;
}
#header {
	font-size: 24pt;
	padding: 12px;
	color: #4d4e50;
}
#whole_page {
	text-align: left;
	color: #4d4e50;
	margin: auto;
	padding: 0;
	background: white;
}
#content {
	min-height: 1200px;
	width: 65%;
	font-size: 12pt;
	color: #4d4e50;
	padding-right: 5px;
	padding-left: 5px;	
}
#content h1 {
	color: #67B64A;
	font-size: 16pt;
	font-weight: bold;
	font-family: arial;
}
#content a:link, #content a:visited {
	color: #67B64A;
	border: none;
}
#content a:link, #content a:active {
	color: #67B64A;
	border: none;
}
#content h2 {
	color: #4d4e50;
	font-size: 12pt;
	font-family: arial;
	font-weight: bold;
}
#tabbedContent {
	margin-left: 24px;
}

.rtop, .rbottom{display:block; background: #A5A49F;}
.ntop, .nbottom{display:block; background: #A5A49F;}
.rtop *, .rbottom *{display: block; height: 1px; overflow: hidden; background: #FFF;}
.ntop *, .nbottom *{display: block; height: 1px; overflow: hidden; background: #FFF;}
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{margin: 0 1px; height: 2px}


#sidebar {
	float: right;
	padding-bottom: 100px;
	width: 250px;
	padding-right: 10px;
}
#nav {
	color: #4d4e50;
	background: #00A8CC;
	font-size: 10pt;
	padding: 0.5em;
}
#nav a, #nav a:visited {
	color: white;
} 
#nav a:hover {
	color: #4d4e50;
}
#notice {
	color: #00A8CC;
}
#error{
	color: red;
}
#postContent {
	color: #00A8CC;
	font-size: 10pt;
}

#comments strong {
	color: #00A8CC;
	font-size: 8pt;
}

#comments{
	width: 60%;
	font-size: 10pt;
}
#button {
	float: left;
	width: 200px;
}

fieldset {
	background: #f3ede1;
}

legend {
	background: #4d4e50;
	color: white;
	padding: .25em;
}
