body {
	font-family: arial;
	background: white;
	margin: 0 auto;
	text-align: center;
}
#header {
	font-size: 24pt;
	padding: 12px;
	color: #4d4e50;
}
#whole_page {
	width: 650px;
	text-align: left;
	color: #4d4e50;
	margin-left: 10px;
	margin-right: auto;
	margin-bottom: 50px;
	padding: 0;
}
#content {
	height: 100%;
	padding: 1em;
	font-size: 12pt;
	color: #4d4e50;	
}
#content h1 {
	color: #67B64A;
	font-size: 16pt;
	font-weight: bold;
	font-family: arial;
}
#content a:link, #content a:visited {
	color: #67B64A;
	border: none;
}
#content a:link, #content a:active {
	color: #67B64A;
	border: none;
}
#content h2 {
	color: #4d4e50;
	font-size: 12pt;
	font-family: arial;
	font-weight: bold;
}
#tabbedContent {
	margin-left: 24px;
}
#sidebar {
	position: absolute;
	top: 90px;
	margin-left: 685px;
	padding-bottom: 100px;
	width: 300px;
	padding: 0;
}
#nav {
	color: #4d4e50;
	background: #00A8CC;
	font-size: 10pt;
	padding: 0.5em;
}
#nav a, #nav a:visited {
	color: white;
} 
#nav a:hover {
	color: #4d4e50;
}
#notice {
	color: #00A8CC;
}
#postContent {
	color: #4d4e50;
	font-size: 8pt;
	margin-left: 10px;
}

fieldset {
	background: #f3ede1;
}

legend {
	background: #4d4e50;
	color: white;
	padding: .25em;
}
