<% @page_title = "About"%>
<h1>About</h1>
<body>
This website is a simple Ruby on Rails application built to help test the new Google Friend Connect features as they are rolled out. New gadgets will be added to this site continuously in an effort to provided solid testing on all Google Friend Connect Gadgets.

<h1>Google Friend Connect</h1>
Google Friend Connect instantly awakens and strengthens the community that visits your site by enriching it with social features.
<p>
	</p>
<embed src="http://www.youtube.com/v/N94s7ix0JPo&amp;fs=1&amp;border=1&amp;cc_load_policy=1&amp;rel=0&amp;hl=en" type="application/x-shockwave-flash" width="445" height="364"></embed></object></center></p>


<div id="tabbedContent">
	<h2>Build your community</h2>
	Anyone can join your site and discover other members by using information from a variety of services, including 											Google, Yahoo, Twitter, AOL, orkut, and Plaxo, strengthening your community as visitors become members.

	<h2>Increase engagement</h2>
	Choose social features from a catalog of gadgets created by Google and the OpenSocial developer community to keep your visitors more deeply engaged with your site and with each other.

	<h2>No programming required</h2>
	Simply copy and paste a few snippets of code into your site, and Friend Connect does the rest. Or use the Friend Connect APIs to integrate with existing login systems, social flows, and more.
	</div>
<br/>
	<!-- Include the Google Friend Connect javascript library. -->
	<script type="text/javascript"> 
		var SITE_ID  ='07789784515480644884'; 
	</script>
	<!-- Define the div tag where the gadget will be inserted. -->
	<div id="div-8843357558308117970" style="width:100%;"></div>
	<!-- Render the gadget into a div. -->
	<script type="text/javascript">
	var skin = {};
	skin['HEIGHT'] = '21';
	skin['BUTTON_STYLE'] = 'compact';
	skin['BUTTON_TEXT'] = 'Recommend it!';
	skin['BUTTON_ICON'] = 'default';
	google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
	google.friendconnect.container.renderOpenSocialGadget(
	 { id: 'div-8843357558308117970',
	   url:'http://www.google.com/friendconnect/gadgets/recommended_pages.xml',
	   height: 21,
	   site: '07789784515480644884',
	   'view-params':{"pageUrl":location.href,"pageTitle":(document.title ? document.title : location.href),"docId":"recommendedPages"}
	 },
	  skin);
	</script>


</body>