<h1>Gadget Testing</h1>
<body id="gadgets.html" onload="">
	On this page we will be testing different gadgets when they are needed. Be sure to test out any gadgets on this page and check back frequently to keep up-to-date on the gadgets.

	<div id="tabbedContent">
		<h2>Conversation Element<h2/>
		<iframe src="http://staging.friendconnect.google.com/friendconnect/discuss?scope=web&topic=Misc" style="width:300px; height:400px;" scrolling="no" allowtransparency="true" border="0" frameborder="0"></iframe>
	</div>
	</body>