<h1>Help</h1>
<body>
	This is a general help section. This will be updated according to issues that need to be addressed
	
	<h1> Configuring the uTest Proxy </h1>
	<div id="tabbedContent">
	<h2>Configuring Firefox</h2>

	Tools -> options -> advanced<br/>
	Network tab<br/>
	configuration -> settings button<br/>
	select the 'Manual proxy configurations' radio button.<br/>
	HTTP Proxy = proxy.utest.com<br/>
	Port = 9999<br/><br/>

	Save
	
	<h2>Configuring Internet Explorer</h2>

	Tools -> internet options<br/>
	Connections -> LAN settings<br/>
	'Proxy server'<br/>
	HTTP Proxy = pr2.utest.com<br/>
	Port = 9999<br/><br/>
	</div>

	Now the browser is using the uTest proxy, just try any url like <a href="www.google.com" >www.google.com</a> and the proxy will ask for a username and password, you should use these credentials:<br/><br/>

	Username: utest<br/>
	Password: proxy<br/><br/>

	And that's all, you are surfing internet from the uTest IP.
	<br/>
	<!-- Include the Google Friend Connect javascript library. -->
	<script type="text/javascript" src="http://staging.friendconnect.google.com/friendconnect/script/friendconnect.js"></script>
	<!-- Define the div tag where the gadget will be inserted. -->
	<div id="div-8843357558308117970" style="width:100%;"></div>
	<!-- Render the gadget into a div. -->
	<script type="text/javascript">
	var skin = {};
	skin['HEIGHT'] = '21';
	skin['BUTTON_STYLE'] = 'compact';
	skin['BUTTON_TEXT'] = 'Recommend it!';
	skin['BUTTON_ICON'] = 'default';
	google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
	google.friendconnect.container.renderOpenSocialGadget(
	 { id: 'div-8843357558308117970',
	   url:'http://staging.friendconnect.google.com/friendconnect/gadgets/recommended_pages.xml',
	   height: 21,
	   site: '00339635363751239472',
	   'view-params':{"pageUrl":location.href,"pageTitle":(document.title ? document.title : location.href),"docId":"recommendedPages"}
	 },
	  skin);
	</script>
	
	</body>
