<h1>Welcome!</h1>
<body>
This is a simple website that will allow you to test Gooogle Friend Connect Gadgets! 
Check out all of the gadgets and be sure to check back regularly to test.
<p></p>
<h1>Gadgets</h1>
As of right now we have the Members Gadget, the Social Bar Gadget, and the Ratings and Reviews Gadget. We will be adding gadgets to the site regularly. We will also have new gadgets ready to be tested for the first time!
<div id="tabbedContent">
<h2>Social Bar Gadget</h2>
The Social Bar gadget includes a way for visitors to sign in, view other members, leave comments, and see recent site activity. This gadget is an all-in-one source for social features on a website.
<h2>Members Gadget</h2>
the members gadget lets visitors join your site, sign in, and invite their friends. They can even explore the profiles of other members and make new friends.
<h2>Ratings and Reviews Gadget</h2>
Viewers can use this to rate videos, articles, books, photos, songs, or anything else you can imagine.
</div>
</body>