<h1><%= link_to_unless_current h(post.title), post %></h1>	

	<%= simple_format h(post.body) %>
		
		<div id="postContent">
			Posted <%= post.created_at.strftime("%A, %b %d")%> <br />
			
			<% link_to(post) do %>
			<%= post.comments.count%> comments
			<%end%>
			<br />
		</div>
		
		<br />